* {
  margin: 0;
  padding: 0;
}
.col-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  outline: 2px red solid;
  justify-content: center;
}

.result {
  margin-right: 5%;
  padding: 3%;
  font-size: 3rem;
}

.result.text {
  text-align: center;
  font-size: 2.6rem;
}

.panel {
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  padding: 8.1%;
}

.choice {
  padding: 5%;
  margin-right: 3%;
}
